* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  /*font-family: 'Inter', sans-serif; */
  /* */
}

header {
  display: flex;
  height: 90px;
  padding: 0px 20px;
  align-items: center;
  background: linear-gradient(to right, #672280, #A626D3);
  gap: 10px;
}

.troll-face {
  height: 40px;
  width: auto;
}

header > span {
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6875rem;
  font-family: Karla;
  letter-spacing: -0.1em;
}

header > p {
  font-family: Inter;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1rem;
}

.meme-section {
  padding: 50px;
}

section > input {
  border: 1px solid #D5D4D8;
  width: 300px;
  padding: 10px;
}

.upper-phrase {
  margin-right: 40px;
}

.meme-section > button {
  display: block;
  margin: 15px 0px 45px 0;
  width: 640px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
  background: linear-gradient(to right, #672280, #A626D3);
}

.meme-content {
  width: 640px;
  position: relative;
}

.meme-img {
  width: 100%;
}

.meme-content--text {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
  text-shadow: -2.5px -2.5px 0 #000,
  2.5px -2.5px 0 #000,
  -2.5px 2.5px 0 #000,
  2.5px 2.5px 0 #000;;
}

.meme-content--text.upper {
  top: 30px;
}

.meme-content--text.bottom {
  bottom: 30px;
}